*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
}

body{
    background-color: #f8e8c6ea;
    font-family: monospace;
}

/* ===========   NAVBAR    =============== */

.navbar{
    height:50px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 2px; /* gap kam karega */
}

.dot{
  color: red;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: -2px; /* aur chipkana ho to */
}

.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 12px;
    margin-right: 90px;
}

.nav-list li a{
    color: rgb(116, 116, 116);
    text-decoration: none;
    font-weight: 600;
}
.nav-btn button{
    padding: 4px 4px 4px 4px;
    margin-left: 15px;
    border-radius: 50%;
    border: none;
    background-color: blanchedalmond;
    box-shadow: 1px 2px 5px gray;
}
.nav-btn button a{
    color: black;
}

hr{
  border: none;
  height: 0.5px;
  background-color: rgba(70, 70, 70, 0.267);
}

/* ===============     first page wala section   ============= */

.main{
    display: flex;
    gap: 20px;
    height: 90vh;
    width: 100%;
    margin-top: 10px;
}

/* FIRST SECTION */
.first-section{
    width: 25%;
    height: 80vh;
    margin-left: 40px;
}
.first-section h5{
    color: rgb(250, 88, 29);
}
.first-section h1{
    font-size: 35px;
    margin-bottom: 5px;
}
.first-section h1 span{
    color: rgb(250, 88, 29);
}
.first-section h3{
    margin-bottom: 5px;
}
.first-section h4{
    margin-bottom: 5px;
    margin-top: 5px;
}
.first-section p{
    font-size: 9px;
    color: rgb(71, 71, 71);
    font-weight: 800;
    margin-bottom: 5px;
}
.first-section button{
    padding: 5px ;
    background-color: blanchedalmond;
    box-shadow: 1px 2px 5px gray;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
}
select{
    background-color: blanchedalmond;
    box-shadow: 1px 2px 5px gray;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    border: 1px solid gray;
    font-size: 8px;
    cursor: pointer;
}


/* SECOND SECTION */

.second-section{
    width: 40%;
    height: 80vh;
}
.second-section img{
    height: 90vh;
    width: 45vw;
}

.mid-lower{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44vw;
}
.mid-lower img{
    height: 25px ;
    width: 25px;
    margin-left: 10px;
}
.mid-lower p{
    font-size: 10px;
    font-weight: 800;
    margin-left: 5px;
    color: rgb(95, 94, 94);
}

/* THIRD SECTION */

.third-section{
    width: 30%;
    height: 80vh;
    text-align: center;
}
.third-section h3{
    margin: 10px 0px 10px 0px;
}
.size-btn button{
    font-size: 12px;    
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(238, 225, 189, 0.788);
    box-shadow: 1px 2px 5px gray;
}
#medium{
    background-color: rgb(243, 90, 35);
    color: white;   
}

.product-img{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    height: 30vh;
    width: 15vw;    
}


.img-1 img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(201, 201, 201);
    margin-left: 10px;
    border: 1px solid rgb(247, 117, 69);
}


.tag-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.tag-btn button{
    font-size: 10px;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(238, 225, 189, 0.788);
    box-shadow: 1px 2px 5px gray;
}

#wishlist{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#bag{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 90, 35);
    color: white;
}